.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.d-i-block {
  display: inline-block;
}

.flex-nowrap {
  flex-wrap: nowrap;

  &-md {
    @include media-breakpoint-up($screen-md) {
      flex-wrap: nowrap;
    }
  }
}

.of-hidden {
  overflow: hidden;
}

.pos-rel {
  position: relative;
}

.p-1 {
  padding: $padding/3;
}

.p-2 {
  padding: $padding/2;
}

.p-3 {
  padding: $padding;
}

.p-4 {
  padding: $padding + $padding/3;
}

.p-5 {
  padding: $padding + 2*$padding/3;
}

.p-10 {
  padding: $padding*2;
}

.p-20 {
  padding: $padding*3;

  &-md {
    @include media-breakpoint-up($screen-md) {
      padding: $padding*3;
    }
  }
}

.pt-1 {
  padding-top: $padding/3;
}

.pt-2 {
  padding-top: $padding/2;
}

.pt-3 {
  padding-top: $padding;
}

.mt-1 {
  margin-top: $padding/3;
}

.mt-2 {
  margin-top: $padding/2;
}

.mt-3 {
  margin-top: $padding;
}

.mt-20 {
 margin-top: $padding*3;
}

.ml-10 {
 margin-left: $padding*2;
}

.mb-2 {
  margin-bottom: $padding/2;
}

.pl-10 {
  padding-left: $padding*2;
  &-md {
    @include media-breakpoint-up($screen-md) {
      padding-left: $padding*2;
    }
  }
 }

.pl-20 {
  padding-left: $padding*3;
  &-md {
    @include media-breakpoint-up($screen-md) {
      padding-left: $padding*3;
    }
  }
}

.pr-10 {
  padding-right: $padding*2;
  &-md {
    @include media-breakpoint-up($screen-md) {
      padding-right: $padding*2;
    }
  }
 }

.pr-20 {
  padding-right: $padding*3;
  &-md {
    @include media-breakpoint-up($screen-md) {
      padding-right: $padding*3;
    }
  }
}

.pt-0 {
  padding-top: 0;
}

.p-0 {
  padding: 0;
}


.m-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.mw-300 {
  min-width: 300px;

  &-lg-down {
    @include media-breakpoint-down($screen-lg) {
      min-width: 300px;
    }
  }
}

.fstyle-normal {
  font-style: normal;
}

.fs-inherit {
  font-size: inherit !important;
}

.fs-18 {
  font-size: 18px
}

.bold {
  font-weight: 600;
}

.upper {
  text-transform: uppercase;
}
